extends layout

block content
	h2.h2(style="text-align:center") #{visitor_msg}
	br

	div.container
		div.jumbotron
			p Thank you for sharing the details with us. We will get back to you in a few days.
			p Have a good day !
			p - Peer2Peer Mentoring
